<!DOCTYPE html>
{% load static %}
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
        <div id="menu" style="text-align: center;">
            <a href="hw1.html">HOME</a>
            <a href="about.html"><b>ABOUT</b></a>
            <a href="career.html">CAREER</a>
            <a href="education.html">EDUCATION</a>
            <br><br>
            <hr color= "#b3871a" width="50%" size="0.1px">
            <br>
        
        <table>
            <tr>
                <th> 성별 : </th>
                <td> 여자 </td>
            </tr>
            <tr>
                <th> 나이 : </th>
                <td> 22 </td>
            </tr>
            <tr>
                <th> 학교 : </th>
                <td> 동국대학교 </td>
            </tr>
            <tr>
                <th> 학과 : </th>
                <td> 정보통신공학과 </td>
            </tr>
            <tr>
                <th> 학번 : </th>
                <td> 2019112*** </td>
            </tr>
            <tr>
                <th> email : </th>
                <td> shinyejin0212@gmail.com </td>
            </tr>
        </table>

        
        <h>현재 멋사 부원으로 활동 중!<br>개발 천재가 될테다!!<br></h3>
            <br><br>
    </div>
       
</body>
</html>
