{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/style.css' %}"  rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
</head>
<style>
    body{
      font-family: 'Yeon Sung', cursive;
    }
</style>
<body>
        <div style="text-align: center;">
            <center>
            <br><br>
            <br>
            <table>
                <colgroup>
                    <col style="width:30%;">
                    <col style="width:70%;">
                </colgroup>
            <tr>
                <th> Name. </th>
                 <td> Shin yejin </td>
            </tr>
            <tr>
                <th> <i class="fas fa-birthday-cake"></i>  </th>
                <td> Feb 12, 2000 </td>
            </tr>
            <tr>
                <th> <i class="fas fa-school"></i> </th>
                <td> 동국대학교 정보통신공학과 전공 </td>
            </tr>
            <tr>
                <th> <i class="fas fa-envelope-square"></i> </th>
                <td> shinyejin0212@gmail.com </td>
            </tr>
            <tr>
                <th> <i class="fab fa-instagram"></i> </th>
                <td> shynnn._ </td>
            </tr>
        </table>
    </center>
        <h>현재 멋사 부원으로 활동 중!<br>개발 천재가 될테다!!<br></h3>
            <br><br>
    </div>
    <h2><a href="{%url 'new'%}">글 쓰기</a></h2>
    <h1>글 목록</h1>
    <hr>
    <div>
        {% for post in posts %}
        <div>
            <h3>{{post.title}}</h3>
            {{post.writer}}<br>
            {{post.summary}}
            <a href = "{%url 'detail' post.id %}">...자세히</a>
            <hr>
            <br>
        </div>
        {%endfor%}
    </div>

</body>
</html>
{% endblock %}