{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/careerstyle.css' %}">
  
  </head>

  <div style="clear:both" class="charm">
    <br><br>
    <img src ="{% static 'img/참사람봉사단_14기.jpg' %}" alt ="참봉" width= "40%" height=auto lign="left" hspace="20" vspace="20">
  </div>

  
  <div class="text1">
    <hr color= "#b3871a" width="50%" size="0.1px">
    <h1>
      참사람봉사단 14기 ~ing
    </h1>
    <h3>
      대학의 꽃! 봉사단</h3>
     <h5> 2020년 14기 참사람봉사단을 시작해 지금까지 계속해서 활동 중이에요!
      고등학교때, 가장 하고 싶었던 것이 대학생 멘토가 되는 일이었는데 참봉으로 활동하면서 많은 멘토링을 할 수 있어서 정말 좋았습니다!
      또한 봉사를 같이하며 사람들과 친해지며 공대가 아닌 다양한 과의 친구를 만들 수 있는 기회였습니다. 혹시 이것을 보고있는 새내기라면 학교의 대표 봉사동아리 들어가는 것을 꼭꼭! 추천할게요ㅎㅎ
    </h5>
  </div>

  <div style="clear:both" class="lion">
    <br><br>
    <img src ="{% static 'img/멋사_9기.jpg' %}" alt ="멋사" width= "40%" height=auto align="left" hspace="20" vspace="20">
  </div>

  <div class="text2">
    <h1>
      멋쟁이사자처럼 9기 ~ing
    </h1>
    <h3>
      내 인생의 터닝포인트! 개발 동아리!</h3>
     <h5> 2021년 가장 잘 한 일은 동대 멋사에 지원한 것이 아닐까 싶어요. IT학과에 재학 중이지만 개발, 네트워크 등등에서 갈피를 잡지 못하던 저에게 안내자같은 역할을 해주는 동아리! 개발에 대해 점점 재미를 느끼는 중이고, 역시 난 통신보단 개발인가보다! 하는 생각이 들어요ㅎㅎ 이번 1년동안 열심히 활동하면서 능력치 500%인 사람이 되고 싶어요!
    </h5>
  </div>

{% endblock %}