{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
<style>
    *{
      font-family: 'Yeon Sung', cursive;
    }
  </style>

<h1>{{post.title}}</h1>
{% if post.writer %}
  {% if 'user' in post.writer.username %}
    작성자 : {{ post.writer.last_name }} {{ post.writer.first_name }}
  {% else %}
    작성자 : {{ post.writer }}
  {% endif %}
{% else %}
  작성자 : 알 수 없음
{% endif %}

<hr>
{% if post.image %}
  <p><img src="{{ post.image.url }}" alt="사진"></p>
{%endif%}

<p>{{post.body}}</p>
<a href = "{%url 'firstapp:edit' post.id%}">수정하기</a>
<a href = "{%url 'firstapp:delete' post.id%}">삭제하기</a>

<div>
  <form action="{%url 'firstapp:create_comment' post.id%}" method="POST">
    {%csrf_token%}
    <textarea name="content" placeholder="댓글내용입력"></textarea>
    <input type="submit" value="확인"> 
  </form>
</div>

<div>
  {%for comment in comments%}
  <div>
      {% if comment.writer %}
          {% if 'user' in comment.writer.username %}
              작성자 : {{ comment.writer.last_name }} {{ comment.writer.first_name }}
          {% else %}
              작성자 : {{ comment.writer }}
          {% endif %}
      {% else %}
          작성자 : 알 수 없음
      {% endif %}
      <br>
      {{comment.content}}
      <br>
      <a href="{%url 'firstapp:edit_comment' comment.id %}" class="btn_post">수정</a>
      <a href="{%url 'firstapp:delete_comment' comment.id %}" class="btn_post">삭제</a>
  </div><hr>
  {%endfor%}
</div>
{% endblock %}
