{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
<style>
    *{
      font-family: 'Yeon Sung', cursive;
    }
  </style>
<h1>{{post.title}}</h1>
작성자 : {{post.writer}}
날짜 : {{post.pub_date}}
<hr>
{% if post.image %}
  <p><img src="{{ post.image.url }}" alt="사진"></p>
{%endif%}

<p>{{post.body}}</p>
<a href = "{%url 'firstapp:edit' post.id%}">수정하기</a>
<a href = "{%url 'firstapp:delete' post.id%}">삭제하기</a>
{% endblock %}
