{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
<style>
    *{
      font-family: 'Yeon Sung', cursive;
    }
  </style>
<form action="{%url 'firstapp:create'%}" method="post" enctype="multipart/form-data">
	{%csrf_token%}
	<p>제목 : <input type="text" name="title"></p>
	<p>사진 : <input type="file" name="image"></p>
	<p>내용 : <textarea type="text" name="body" id="" cols="30" rows="10"></textarea></p>
	<button type="submit">제출</button>
</form>

{% endblock %}
