{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
<style>
    *{
      font-family: 'Yeon Sung', cursive;
    }
  </style>

<div class="container">
    <h1>{{user.username}}</h1><hr>
    <div>
        {% for post in posts %}
            <h3><a href = " {%url 'firstapp:detail' post.id %}">{{post.title}}</a></h3>
            {{post.writer}}<br>
            {{post.summary}}
            <a href = "{% url 'firstapp:detail' post.id %}">...자세히</a><hr>
            {% endfor %}
    </div>
</div>


</div>

{% endblock %}