{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
  </head>
<body>
  <style>
    *{
      font-family: 'Yeon Sung', cursive;
    }
    </style>
    <br>
    <div>
  <h1>2021-2022년 취준까지 계획</h1><br>
  <h3>1. 정보처리기사</h3><br>
  <h3>2. 토익 오픽 : 오픽노잼 유튜브.</h3><br>
  <h3>3. Java8 스킬</h3><br>
  <a href="https://www.inflearn.com/course/%EC%8A%A4%ED%94%84%EB%A7%81-%EC%9E%85%EB%AC%B8-%EC%8A%A4%ED%94%84%EB%A7%81%EB%B6%80%ED%8A%B8#curriculum"><h3>4. Spring Boot</h3></a>
  <br><h3> 5. HTML/CSS/JS</h3>
  <h4>멋쟁이 사자처럼</h4><br>
  <h3 style="color: #b1b1b1;"> 6. 우아한테크코스 미리 준비하기.</h3><br>
  <h3>7. SSAFY 삼성청년 SW아카데미 - 2021 할 지 미정. // Softeer (현대)</h3><br>
  <h3>8. 정보보안기사</h3><br>
  <h3> 9. 자기소개서/이력서</h3><br>
  <h3> 10. 백엔드 정리</h3><br>
  <img src ="{% static 'img/backend.png' %}" alt ="backend" width= "30%" height=auto >
</div>
<div>
  <h1>학기 중</h1><br>
  <h3>1. 머신러닝 수업</h3>
  <h4>-파이썬 공부 링크 참고 : 파이썬 입문용 도서</h4>
  <a href= "wikidocs.net/12"><h5>1) 위키독스</h5></a>
  <a href= "www.opentutorials.org/course/1750"><h5>2) 생활코딩</h5></a>
  <a href= "www.opentutorials.org/course/1750"><h5>3) 파이썬입문</h5></a>
  <h3>2. IPP & 인턴</h3><br>
  <h3>3. 소프트웨어 공학 및 설계(HTML/CSS/JS/RUBY)</h3><br>
  <h3>4. 기업사회</h3><br>
  <h3>5. 캡스톤</h3><br>
  <h3>여유 되면 코틀린/스위프트/Go(서버) 등 그 시점에 맞는 트랜드 언어 배워보기</h3>
  <h5>=> 단, 프레임워크 수준까지 다룰것.</h5>
</div>
<div>
  <a href="https://skmouse.tistory.com/entry/2020-2022%EB%85%84-%EC%B4%88%EB%B3%B4%EA%B0%9C%EB%B0%9C%EC%9E%90%EC%97%90%EC%84%9C-%EC%B7%A8%EC%A4%80%EA%B9%8C%EC%A7%80-%EA%B3%84%ED%9A%8D?category=781084"><p style="color: rgb(207, 207, 207);">SK_MOUSE 개발일기</p></a>
</div>

  
</body>




{% endblock %}