<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<style>
  nav {
    font-family:'Yeon Sung', cursive;
  }
</style>
<body>
<nav class="navbar navbar-light" style="background-color: #FAEC89;">  
  <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home'%}">녜게로 오라</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href={% url 'home'%}>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about'%}">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'career'%}" tabindex="-1">career</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              study
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="{% url 'os'%}">Operating System</a></li>
              <li><a class="dropdown-item" href="{% url 'dc'%}">Data Communication</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'curriculum'%}">Curriculum</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
  </div>
</nav>
</body>